@import '../../app.scss';

.divInline-container {
  // outline: 1px solid red;
  margin-block: 2rem !important;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  .texts {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.3rem;
    width: 90%;
    max-width: 580px;

    p {
      color: $grey-s;
      font-family: Poppins;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 134.5%; /* 44.791px */
      letter-spacing: -1.665px;
    }

    .icons {
      display: flex;
      align-items: center;
      gap: 1.3rem;

      a {
        color: $purple;
      }
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.1rem;
    padding: 1.5rem;
    border: 1px solid $grey-s;
    border-radius: 13.125px;
    background: linear-gradient(271deg, #141414 0%, rgba(20, 20, 20, 0.12) 100%);

    div {
      display: flex;
      align-items: center;
      gap: 1.3rem;
    }

    div i {
      color: $green;
    }

    div p {
      color: $white;
      font-family: Poppins;
      font-size: 17.5px;
      font-style: normal;
      font-weight: 700;
      line-height: 134.5%; /* 23.538px */
      letter-spacing: -0.875px;
      width: 80%;
    }

    hr {
      width: 100%;
      border-color: $grey-s;
    }

    a {
      align-self: center;
      border: 1px solid $grey;
      border-radius: 8.75px;
      background: linear-gradient(90deg, rgba(248, 248, 248, 0.74) 0%, rgba(248, 248, 248, 0.22) 100%);
      color: var(--black, #141414);
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 134.5%; /* 34.298px */
      letter-spacing: -1.275px;
      padding-block: 10px;
      width: 100%;
      text-align: center;
      transition: all .3s;

      &:hover {
        scale: 1.03;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 4rem;

    .card {
      width: 100%;

      div p {
        width: 100%;
      }
    }
  }
}